.banner{
    background-image: url("../img/MUG\ AMA.jpg");
    padding: 20% 30% 30% 8%;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}
.banner ::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0.5;
    z-index: -1;
}
.fuente{
    font-family: 'Roboto', sans-serif;
    color: #9C77F1;
}
